<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.anton.serve</string>
  <key>ProgramArguments</key>
  <array>
    <string>__ANTON_VENV_BIN__</string>
    <string>serve</string>
    <string>--data-dir</string>
    <string>__ANTON_DATA_DIR__</string>
    <string>--executor</string>
    <string>__ANTON_EXECUTOR__</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__ANTON_DATA_DIR__/serve.stdout.log</string>
  <key>StandardErrorPath</key><string>__ANTON_DATA_DIR__/serve.stderr.log</string>
</dict>
</plist>
